src/main/mule/practicejenkins2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a9bbd531-20b7-44d0-bcf0-14eed4fd4244" >
		<http:listener-connection host="0.0.0.0" port="8034" />
	</http:listener-config>
	<flow name="practiceJenkins2Flow" doc:id="54904a7c-c8f4-432e-a83c-71f6c8d83b5f" >
		<http:listener doc:name="HTTP:8034/practiceJenkins2" doc:id="f784b8ff-5152-4901-bb02-dabfecf8c584" config-ref="HTTP_Listener_config" path="/practiceJenkins2"/>
		<set-payload value='#["this is practiceJenkins2 flow payload"]' doc:name='"this is practiceJenkins2 flow payload"' doc:id="e99d3387-c640-44d5-b6ab-7760f4dc0510" />
		<logger level="INFO" doc:name="payload" doc:id="518a8871-5fdc-44a6-ad8f-8a41c1bae60a" message="#[payload]"/>
	</flow>
</mule>
